.left_side {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left_side h1 {
    color: rgb(64, 130, 216);
    font-size: 400%;
    font-style: italic;
}

.tiny-girl {
    width: 15%;
}

/*.left_side h1:before {
    width: 20%;
    content: '';
    height: 100%;
    position: absolute;
    background: url('Images/Hi.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}*/

.social-media_link img{
    width: 50px;
}

.right_side {
    right: 0%;
    top: 0%;
    position: absolute;
    width: 50%;
    height: 100%;
}

.right_side .img-desk{
    height: 100%;
    width: 100%;
    position: relative;
}

@media (min-width: 1200px) {
    .img-mob {
        display: none;
    }
}

@media (max-width: 1200px) {
    body {
        background-image: url(Images/Img-2.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .img-mob {
        height: auto;
        width: 100%;
    }

    .right_side {
       display: none;
    }

    .left_side {
        width: 100%;
        position: absolute;
        left: 0%;
        justify-content: left;
    }

    .left_side h1 {
        font-size: 300%;
    }

    .img-desk {
        display: none;
    }
}

@media (max-width: 400px) {
    .left_side h1 {
        font-size: 200%;
    }
}
