.left_side {
    width: 50%;
    position: absolute;
    left: 0%;
}

.left_side h1 {
    color: rgb(64, 130, 216);
    padding-left: 20%;
    padding-top: 20%;
    font-size: 400%;
    font-style: italic;
}

.social-media {
    padding-left: 50%;
}

.social-media_link img{
    width: 50px;
}

.right_side {
    right: 0%;
    top: 0%;
    position: absolute;
    width: 50%;
}

@media (max-width: 1200px) {
    body {
        background-image: url(Images/Img-2.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .left_side {
        width: 100%;
        position: absolute;
        left: 0%;
    }

    .left_side h1 {
        font-size: 300%;
    }

    .img-desk {
        display: none;
    }
}
@media (min-width: 1200px) {
    .img-mob {
        display: none;
    }
}

@media (max-width: 400px) {
    .left_side h1 {
        padding-left: 10%;
        padding-top: 0%;
        font-size: 200%;
    }
    .social-media {
        padding-left: 20%;
    }
}
